*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    position: relative;
    height: 100vh;
  }
  
  #car{
    width: 100%;
    height: 100%;
  }

#carImage{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

  #steering{
    position: absolute;
    bottom: 14rem;
    right: 20rem;
    height: 14rem;
    width: 14rem;
  }

  #off{
    width: 100%;
    height: 100%;
  }

  .off-wrap{
    background-color: #000;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    cursor: pointer;
  }

  #on{
    width: 100%;
    height: 100%;
  }

  #on-wrap{
    background-color: #000;
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    cursor: pointer;
  }

  #accelerator{
    height: 4rem;
    width: 4rem;
    object-fit: contain;
    cursor: pointer;
  }

.information-panel-wrapper {
  display: none;
}
.information-panel {
  position: absolute;
  top: 43%;
  left: 15%;
  display: flex;
  width: 66%;
  height: 18%;
  color: #fff;
  margin: 20px;
  z-index: 2;
}

.left-section, .right-section {
  width: 20%;
}

.middle-section {
  width: 60%;
  text-align: center;
}
.left-section .time {
  font-size: 24px;
  margin-left: 13px;
}

.fuel-details {
  width: 45%;
  margin: 39px 5px;
  text-align: center;
}

.fuel {
  font-size: 40px;
}

.fuel-unit {
  font-size: 0.7rem;
}

.greeting-text {
  text-align: center;
  margin-top: -10px;
  font-style: italic;
  font-weight: 300;
}

.speedometer {
  margin: 33px 0;
}

.speed {
  font-size: 5rem;
}

.speed-unit {
  font-size: 22px;
}

.temp-wrapper {
  text-align: right;
  /* margin-right: -50px; */
  margin-top: -8px;
}

.temp {
  font-size: 20px;
}

.temp-wrapper p:last-child {
  font-size: 0.65rem;
  margin: 7px 0;
}

  .acc-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455C68;
    height: 5rem;
    width: 5rem;
    border: 5px solid #7194a2;
    border-radius: 100%;
    cursor: pointer;
  }

  #brake{
    height: 4rem;
    width: 4rem;
    object-fit: contain;
    cursor: pointer;
  }


  .brake-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455C68;
    height: 5rem;
    width: 5rem;
    border: 5px solid #7194a2;
    border-radius: 100%;
    cursor: pointer;
  }

  .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .left-controls{
    display: flex;
    gap: 10px;
  }

  .right{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 15rem;
  }

  #turn-left{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    cursor: pointer;
  }


  #left-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455C68;
    height: 5rem;
    width: 5rem;
    padding-right: 5px;
    border: 5px solid #7194a2;
    border-radius: 100%;
    cursor: pointer;
  }

  #turn-right{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    transform: rotate(180deg);
    cursor: pointer;
  }


  #right-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455C68;
    height: 5rem;
    width: 5rem;
    padding-left: 5px;
    border: 5px solid #7194a2;
    border-radius: 100%;
    cursor: pointer;
  }

  /* */

  #speaker{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    cursor: pointer;
  }


  #speaker-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455C68;
    height: 5rem;
    width: 5rem;
    padding-right: 5px;
    border: 5px solid #7194a2;
    border-radius: 100%;
    cursor: pointer;
  }

  #fuel{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    cursor: pointer;
  }


  #fuel-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #455C68;
    height: 5rem;
    width: 5rem;
    border: 5px solid #7194a2;
    border-radius: 100%;
    cursor: pointer;
  }

  #controls{
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-left: 5rem;
    z-index: 2;
  }

  #before-start{
    position: absolute;
    bottom: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 100%;
    gap: 5px;
    z-index: 5;
  }

  #welcome{
    font-style: italic;
  }

  .show {
    display: block;
  }

  .hide {
    display: none;
  }

.active-tool {
  border: 5px solid #FBFE7B;
  box-shadow: 2px 3px 10px #FBFE7B, -2px -3px 10px #FBFE7B;
}

.speed-limit {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #E68F03;
  position: absolute;
  top: 12%;
  left: 41.5%;
}
.speed-limit img {
  width: 1.5rem;
  height: 1.5rem;
}


#steering{
  z-index: 3;
  transition: transform 2s ease-in-out;
}

#indicator{
  position: absolute;
  bottom: 19rem;
  right: 20rem;
  height: 10rem;
  width: 10rem;
  transform: rotate(-150deg);
  object-fit: contain;
  z-index: 2;
}

.blink-left {
  position: absolute;
  bottom: 25.5rem;
  width: 8%;
  display: none;
  border-right: 40px solid transparent;
  border-bottom: 50px solid #ffa60055;
  animation: blink-animation 1s linear infinite;
  border-radius: 100%;
  /* transform: rotate(-217deg); */
  transform: rotate(180deg);
}

.blink-right {
  position: absolute;
  bottom: 25.5rem;
  right: 0;
  width: 8%;
  display: none;
  border-left: 40px solid transparent;
  border-bottom: 50px solid #ffa60054;
  border-radius: 100%;
  animation: blink-animation 1s linear infinite;
  /* transform: rotate(-140deg); */
  transform: rotate(180deg);
}

#lane{
  position: absolute;
  top: 19rem;
  left: 54rem;
  height: 7rem;
  animation: lane-animation 1s linear infinite;
  object-fit: contain;
}

.trapezoid-light-left {
  position: absolute;
  bottom: 36.5rem;
  left: 25rem;
  display: none;
  border-bottom: 50px solid #ffa6006a;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 500px;
  transform: rotate(180deg);
}

.trapezoid-light-right {
  position: absolute;
  bottom: 36.5rem;
  right: 25rem;
  display: none;
  border-bottom: 50px solid #ffa6006a;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 500px;
  transform: rotate(180deg);
}

.on{
  display: block;
}


.oval {
position: absolute;
bottom: 38rem;
left: 30rem;
height: 70px;
width: 300px;
background-color: #ffa6006a;
border-radius: 2500px 2500px 0 0;
}

@keyframes blink-animation {
  25% { opacity: 1; }
  50% { opacity: 0; }
  75% { opacity: 1; }
}

@keyframes lane-animation {
  25% { top: 19.5rem;
    height: 6rem; }
  50% { top: 19rem;
    height: 7rem; }
  75% { top: 19.5rem;
    height: 6rem; }
}

:root {
  --thunder-duration: 10s;
  --thunder-delay: 5s;
}

.rain {
  display: flex;
  justify-content: center;
  display: none;
  align-items: center;
  width: 50%;
  height: 3rem;
  overflow: hidden;
}

hr.thunder {
  border: unset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation-name: thunder;
  animation-duration: var(--thunder-duration);
  animation-timing-function: linear;
  animation-delay: var(--thunder-delay);
  animation-iteration-count: infinite;
}


hr:not(.thunder) {
  border-color: transparent;
  border-right-color: rgba(255, 255, 255, 0.8);
  border-right-width: 50px;
  position: absolute;
  bottom: 100%;
  transform-origin: 100% 50%;
  animation-name: rain;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rain {
  from {
    transform: rotate(105deg) translateX(0);
  }
  to {
    transform: rotate(105deg) translateX(calc(100vh));
  }
}

@keyframes thunder {
  0% {
    background-color: transparent;
  }
  1% {
    background-color: white;
  }
  2% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  8% {
    background-color: transparent;
  }
}

.wiper-image{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wiper{
  position: absolute;
  display: none;
  width: 25%;
  top: 20rem;
  height: 20rem;
  animation-name: wipe;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wiper-left{
  left: 25rem;
  transform: rotate(45deg);
}

.wiper-right{
  right: 25rem;
  transform: rotate(45deg);
}

@keyframes wipe {
  0% {
    top: 20rem;
    transform: rotate(45deg);
  }
  
  50% {
    top: 18rem;
    transform: rotate(-200deg);
  }
  
  100% {
    top: 20rem;
    transform: rotate(45deg);
  }
}